/* Global */
* {
  text-align: center;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

/* Hero */

header {
  display: grid;
  grid-template-columns: 1fr;
  color: #fff;
  height: 350px;
  margin: 0.1rem;
}

.hero-img {
  background-image: url("../images/pic-hero.png");
  background-repeat: no-repeat;
  background-position: 70% 20%;
  background-size: 240%;
  display: grid;
  grid-template-rows: auto auto;
}

.img-head {
  align-self: center;
}

/* Info */

.info-bg {
  background-color: #eee;
  padding-bottom: 5rem;
}

.info {
  padding: 1rem;
}

.info-col {
  margin: 2rem auto;
}

.info-col img,
.info-col h3,
.info-col p {
  margin: 0.4rem auto;
}

/* Clients */

.client-blurb {
  background-color: #373d47;
  margin: 0 1rem;
  padding: 2.5rem 0;
  color: #fff;
  position: relative;
  bottom: 6rem;
}

.client-blurb h3 {
  padding-bottom: 1rem;
}

.client-blurb h3,
.client-blurb p {
  font-weight: 300;
}

/* Clients-Logos */

.logos {
  position: relative;
  bottom: 6rem;
}

.logo {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #e7e8ea;
}

/* Client-Focused */

.Purell {
  background-color: #e6e6e6;
  position: relative;
  bottom: 6rem;
}

.gojo-img {
  padding: 2rem;
  background-image: url("../images/pic-gojo-bg.png");
  background-repeat: no-repeat;
  background-position: 63% 60%;
  background-size: 180%;
}

.gojo-img img {
  width: 80vw;
}

.gojo-txt,
.gojo-txt h3,
.gojo-txt h6,
.gojo-txt p,
.gojo-txt button {
  margin-left: 1rem;
  text-align: left;
}

.gojo-txt h3 {
  font-weight: 800;
  padding-bottom: 0.1rem;
}

.gojo-txt p {
  margin: 1.5rem 1rem;
}

.gojo-txt button {
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #307ecf;
  color: #fff;
  font-weight: 600;
  border-radius: 3px;
}
