/* Fonts */

@font-face {
  font-family: Bd;
  src: url(../fonts/Effra_Std_Bd.ttf);
}
@font-face {
  font-family: Lt;
  src: url(../fonts/Effra_Std_Lt.ttf);
}
@font-face {
  font-family: Md;
  src: url(../fonts/Effra_Std_Md.ttf);
}
@font-face {
  font-family: Rg;
  src: url(../fonts/Effra_Std_Rg.ttf);
}

/* Global Mobile */

* {
  text-align: center;
  line-height: 1.5;
  padding: 0;
  margin: 0 0.2px;
  font-family: Rg;
}

/* Hero */

header {
  display: grid;
  grid-template-columns: 1fr;
  color: #fff;
  height: 350px;
  margin-top: 1px;
}

.hero-img {
  background-image: url("../images/pic-hero.png");
  background-repeat: no-repeat;
  background-position: 70% 20%;
  background-size: 240%;
  display: grid;
  grid-template-rows: auto auto;
}

.img-head {
  align-self: center;
}

/* Info */

.info-bg {
  background-color: #eee;
  padding-bottom: 5rem;
  margin-bottom: -6rem;
}

.info {
  padding: 1rem;
}

.info-col {
  margin: 2rem auto;
}

.info-col img,
.info-col h3,
.info-col p {
  margin: 0.4rem auto;
}

/* Clients */

.client-blurb {
  background-color: #373d47;
  margin: 0 1rem;
  padding: 2.5rem 0;
  color: #fff;
}

.client-blurb h3 {
  padding-bottom: 1rem;
}

.client-blurb h3,
.client-blurb p {
  font-weight: 300;
  margin: 0 1rem;
}

/* Clients-Logos */

.logo {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #e7e8ea;
  height: 50px;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
}

#rackroom img {
  max-width: 120%;
  max-height: 120%;
}

/* Client-Focused */

/* Purell */

.Purell {
  background-color: #e6e6e6;
}

.gojo-img {
  padding: 2rem;
  background-image: url("../images/pic-gojo-bg.png");
  background-repeat: no-repeat;
  background-position: 63% 60%;
  background-size: 180%;
}

.gojo-img img {
  width: 80vw;
}

.gojo-txt,
.gojo-txt h3,
.gojo-txt h6,
.gojo-txt p,
.gojo-txt button {
  margin-left: 1rem;
  text-align: left;
}

.gojo-txt h3 {
  font-weight: 800;
  padding-bottom: 0.1rem;
}

.gojo-txt p {
  margin: 1.5rem 1rem;
}

.gojo-txt button {
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #307ecf;
  color: #fff;
  font-weight: 600;
  border-radius: 2px;
}

/* Fifth Third Bank */

.Fifth-Third {
  background-image: url("../images/pic-fifththird-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.fifththird-img img {
  max-height: 100%;
  max-width: 90%;
  padding-top: 2rem;
}

.fifththird-txt {
  max-width: 65%;
  margin: 0 auto;
  padding: 1rem;
  color: #fff;
}

.fifththird-txt h3 {
  padding-bottom: 0.2rem;
}

.fifththird-txt h6,
.fifththird-txt p {
  padding-bottom: 1.3rem;
  font-weight: 400;
}

.fifththird-txt button {
  margin: 1.3rem;
  padding: 0.5rem 1rem;
  border: none;
  font-weight: 600;
  border-radius: 2px;
}

/* Christ Hospital */

.Christ-Hospital {
  background-image: url("../images/pic-chhn-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 85%;
  color: #fff;
}

.chhn-img {
  overflow: hidden;
}

.chhn-img img {
  max-height: 100%;
  max-width: 90%;
  padding-top: 2rem;
  position: relative;
  left: 4rem;
  margin-bottom: 1rem;
}

.chhn-txt,
.chhn-txt h3,
.chhn-txt h6,
.chhn-txt p,
.chhn-txt button {
  margin-left: 1rem;
  text-align: left;
}

.chhn-txt h3 {
  max-width: 70%;
  line-height: 1.5rem;
  font-weight: 700;
  font-size: 22px;
}

.chhn-txt h6 {
  margin: 0.5rem 1rem 1rem 1rem;
  font-weight: 300;
}

.chhn-txt p {
  max-width: 75%;
}

.chhn-txt button {
  padding: 0.6rem 1rem;
  border: none;
  font-weight: 600;
  border-radius: 2px;
  margin: 2rem 1rem;
}

/* Connect */

.connect {
  background-color: #eee;
}

.connect-info h3 {
  padding-top: 2rem;
  font-size: 25px;
  font-weight: 600;
}

.connect-info p {
  width: 65%;
  margin: 0 auto;
}

.connect-info form {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 0 auto;
  grid-gap: 0.5rem;
  padding: 1rem;
}

.connect-info form > input {
  border: 1px solid #bababa;
  border-radius: 2px;
  text-align: left;
  padding: 1rem 1rem;
}

#connect-message {
  height: 8rem;
}

#connect-submit {
  width: 30%;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #307ecf;
  color: #fff;
  font-weight: 600;
  border-radius: 2px;
  text-align: center;
}

.connect-info hr {
  width: 30%;
  margin: 0.8rem auto;
  color: rgba(233, 233, 233, 0.3);
}

.sidebar {
  margin-top: 2rem;
}

.sidebar h4 {
  padding-bottom: 0.7rem;
}

#sidebar-h4 {
  padding-top: 2rem;
}

.sidebar img {
  height: 100px;
  width: 100px;
  margin: 2rem auto 1rem auto;
  border-radius: 3px;
}

.sidebar a {
  display: block;
  padding-bottom: 2rem;
}

/* Footer */

footer {
  background-color: #d8d8d8;
  padding: 2rem;
}

footer p {
  padding-bottom: 1rem;
}

footer div > img {
  padding: 1rem;
}

@media only screen and (min-width: 940px) {
  /* Global Desktop */
  * {
    text-align: center;
    line-height: 1.5;
    padding: 0;
    margin: 0 0.2px;
  }

  /* Hero */

  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
  }

  .hero-img {
    background-image: url("../images/pic-hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .img-head {
    position: relative;
    bottom: 7rem;
    right: 49rem;
  }

  .img-head img {
    height: 3rem;
  }

  .text-head {
    font-size: 45px;
    color: #fff;
  }

  /* Info */

  .info-bg {
    background-color: #eee;
    padding-bottom: 5rem;
  }

  .info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .info-col {
    position: relative;
    bottom: 3rem;
  }

  .info-col h3 {
    text-align: justify;
    font-size: 1.5rem;
  }

  .info-col p {
    text-align: justify;
  }

  .info-col img {
    position: relative;
    top: 3.5rem;
    right: 8.5rem;
  }

  /* Clients */

  .clients {
    margin: auto 9em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
  }

  .client-blurb {
    background-color: #373d47;
    color: #fff;
    grid-column: 1 / span 2;
  }

  .client-blurb h3 {
    margin-left: 2em;
    text-align: justify;
    font-size: 2rem;
  }

  .client-blurb p {
    margin-left: 4em;
    text-align: justify;
  }

  .logo {
    justify-self: center;
    align-self: center;
  }

  /* Section - Client Focused */

  /* Purell/Gojo */

  .Purell {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr;
    background-image: url("../images/pic-gojo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .gojo-img {
    justify-self: end;
  }

  .gojo-txt {
    justify-self: start;
    align-self: center;
  }

  /* Fifth-Third */

  .Fifth-Third {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr;
    background-image: url("../images/pic-fifththird-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .fifththird-txt {
    justify-self: center;
    align-self: center;
  }

  /* Christ Hospital */

  .Christ-Hospital {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr;
    background-image: url("../images/pic-chhn-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .chhn-txt {
    justify-self: start;
    align-self: center;
  }

  /* Section - Connect */

  .connect {
    display: grid;
    margin: auto 3em;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr;
  }

  form {
    justify-self: end;
    align-self: center;
  }

  .sidebar {
    justify-self: start;
    align-self: center;
  }

  /* Footer */

  footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: #aaa;
  }

  footer p {
    margin: 3em auto;
    width: 95%;
  }

  footer span {
    float: right;
  }

  footer img {
    margin: auto 1em;
  }

  .last-img {
    margin-right: 4em;
  }
}
